<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".WeatherApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Live Weather: Weather Forecast"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        tools:targetApi="31">
        <activity
            android:name=".ActivityChooseLanguage"
            android:exported="false" />
        <activity
            android:name=".ActivityTutorial"
            android:exported="false" />
        <activity
            android:name=".ActivityRadarWeatherMap"
            android:exported="false" />
        <activity
            android:name=".LoadingAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChooseLocation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityCustomLayout"
            android:exported="false" />
        <activity
            android:name=".ActivityFeedback"
            android:exported="false" />
        <activity
            android:name=".ActivityLocationManager"
            android:exported="false" />
        <activity
            android:name=".ActivityPolicy"
            android:exported="false" />
        <activity
            android:name=".ActivityRequestLocation"
            android:exported="false" />
        <activity
            android:name=".ActivitySettingNotification"
            android:exported="false" />
        <activity
            android:name=".ActivitySettingTheme"
            android:exported="false" />
        <activity
            android:name=".ActivityEstablish"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityWeatherPerHour"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4686550583292348~5590976638" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAE_6F6J92mVoin5BvwysIpafryT0gUyRs" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>